<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Hello</string>
	<key>PlexPluginClass</key>
	<string>Content</string>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.plugins.arte_tv</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleSignature</key>
	<string>hook</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>PlexAudioCodec</key>
	<array>
		<string>AAC</string>
		<string>MP3</string>
	</array>
	<key>PlexClientPlatformExclusions</key>
	<string>Roku</string>
	<key>PlexClientPlatforms</key>
	<string>*</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexMediaContainer</key>
	<array>
		<string>MP4</string>
	</array>
	<key>PlexPluginMode</key>
	<string>AlwaysOn</string>
	<key>PlexVideoCodec</key>
	<array>
		<string>H.264</string>
	</array>
	<key>PlexURLServices</key>
	<dict>
		<key>WWW_ARTE_TV</key>
		<dict>
			<key>Identifier</key>
			<string>com.plexapp.plugins.arte_tv</string>
			<key>URLPattern</key>
			<string>http://.*arte.tv/*</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.arte.tv/guide/fr/054814-001/indochine-sauvage?autoplay=1</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
